<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Register User</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
  </head>

  <body>
    <h1>Register a new user</h1>
    

    <form method="POST" th:action="@{/register}" th:object="${appUser}">
	  
	  <div th:if="${#fields.hasErrors()}">
        <span class="validationError">
        Please correct the problems below and resubmit.
        </span>
      </div>
      
      <label for="username">Username: </label>
      <input type="text" th:field="*{username}"/>
      
      <br/>

      <label for="password">Password: </label>
      <input type="text" th:field="*{password}"/>
      
      <br/>
      
      <label for="role">Role( PREMIUM or USER ): </label>
      <input type="text" th:field="*{role}"/>
            
      <br/>


      <div> 	
      	<br/>

      <button>Confirm</button>
      </div>
    </form>
  </body>
</html>